################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HPE_SCVMMGA/bin/Debug
/HPE_SCVMMGA/obj/Debug
